@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Basic */
  --background: #000;
  --foreground: #ffffff;

  /* Colors */
  --golden: #ff9900;
  --aqua: #00FFFF;
  --lightblue: #CCCCFF;
  --royal-blue: #4169E1;

  /* Brush */
  --brush-2: url("../../public/images/brush/brush-2.png");
  --brush-3: url("../../public/images/brush/brush-3.svg");
}

html,
body {
  height: 100%;
  width: 100%;

  color: var(--foreground);
  background: var(--background);

  font-family: var(--font-lemon-milk)
}