:root {
  --home-margin: 1em;
  --home-text-color: var(--lightblue);
  --home-font: var(--font-exo2);
  --home-font-size: 1.5em;
}

.font-lemon-milk {
  font-family: var(--font-lemon-milk);
}

html,
body {
  height: 100%;
  width: 100%;

  color: var(--foreground);
  background: var(--background);

  font-family: var(--font-lemon-milk)
}

.home {
  flex: 1;

  color: var(--home-text-color);
  background: var(--background);

  font-family: var(--home-font);
  font-size: var(--home-font-size);

  margin: var(--home-margin);
}

/* MEDIA QUERIES */

@media (max-width: 860px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 860px) {
  .mobile {
    display: none;
  }
}